.container {
  width: 100%;
  height: calc(100dvw - var(--page-padding) - var(--page-padding));

  .coinButton {
    width: 100%;
    height: 100%;

    &:active {
      transform: scale(0.99);
    }

    &:disabled {
      pointer-events: none;

      opacity: 0.8;
    }

    .coin {
      width: 100%;
      height: 100%;
    }
  }
}