.container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  width: 100%;

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 66px;
    height: 66px;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  .balance {
    font-size: 44px;

    color: #fff;
  }
}
